{% extends "layout.html" %}
{% block body %}
<div style="margin-top: 50px;" class="ui container">
  <h2 class="ui center aligned header" > Login | Study Abroad Circle</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form class="ui form" action="/login" method="POST">
    <div class="field">
      <label>Username </label>
      <input type=text name=username placeholder="Enter username">
    </div>
    <div class="field">
      <label>Password </label>
      <input type=password name=password placeholder="Enter password">
    </div>
    <div style="margin-top: 20px; align-content: center;">
      <button class="ui right floated blue button" value=Login>Log in</button>
    </div>
  </form>
{% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %} 
</div>
{% endblock %}
